// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Spectre.css
@import "~spectre.css/src/spectre";

body {
  margin:0;
  padding: 0;
}

#app {
  width: 65%;
  margin: 1em auto;
}